@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* css class for the edit profile generated errors */
.error {
    width: 400px;
    text-align: center;
    /*background-color: #e74c3c;*/
    /*color: #ffffff;*/
    color: #e74c3c;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

.success {
    width: 400px;
    text-align: center;
    background-color: #2ecc71;
    color: #ffffff;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

#sc-edprofile {
    width: 50%;
    margin: auto auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
    background: #D10024;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#sc-edprofile .sc-container {
    padding: 6% 4%;
}

#sc-edprofile input[type="email"],
#sc-edprofile input[type="text"],
#sc-edprofile input[type="password"],
#sc-edprofile input[type="date"],
#sc-edprofile select,
#sc-edprofile textarea {
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}


#sc-edprofile textarea {
    height: 100px;
}

#sc-edprofile input[type="submit"] {
    width: 100%;
    background: #2B2D42;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

#sc-edprofile input[type="submit"]:hover{
    background: #333;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-link{
    font-size: large;
}

#sc-edprofile #signup{
    margin-top: 20px;
    width: 100%;
    background: #7E1633;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

#sc-edprofile #signup:hover{
    background: #333;
}


/*a.signup-link {*/
/*    color: #fff !important;*/
/*    text-decoration: none;*/
/*}*/

