<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">


<!--    <error-page>-->
<!--        <error-code>404</error-code>-->
<!--        <location>/jsp/notFound.jsp</location>-->
<!--    </error-page>-->

<!--    <error-page>-->
<!--        <location>/jsp/error.jsp</location>-->
<!--    </error-page>-->

    <security-role>
        <role-name>electro</role-name>
    </security-role>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Electro Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>electro</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Electro Area</realm-name>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restricted Methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected JSP Files</web-resource-name>
            <url-pattern>/jsp/*</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>


</web-app>